@model IEnumerable<HeedeMoestrup.Models.Painting>

<div class="bg row" style="background-image:url(../../images/Bg.jpg)">
    <div class="landingLogo">
        <img src="../../images/logo.png" alt="Logo" />
    </div>
    <div class="text-center CTA">
        <span>Bliv inspireret! - We Dare You To Explore </span> <a href="#home"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a> 
    </div>
</div>