

@{
    ViewBag.Title = "Kunstforeninger";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="customParagraph customJumbotron">
        <div class="col-md-12">
            <h2>@ViewBag.Header</h2>

            @Html.Raw(ViewBag.Body)
        </div>
    </div>
</div>
